	<%= content_for :js do %>
	<script>

			var map;
			
			/* Set the possition to crop the map the right way*/
			
			//var fitmap = new google.maps.LatLng(47, 11); // Option 1
			var fitmap = new google.maps.LatLng(40, 11); // Option 2
			
			/* Map Styles*/
			
			var MY_MAPTYPE_ID = 'custom_style';
			
			var markers = Array();
		
		function initialize() {
		
			var featureOpts = [
				{
				"featureType": "administrative",
				"stylers": [
				  { "visibility": "off" },
				]
				},{
				"featureType": "landscape.man_made",
				"stylers": [
				  { "visibility": "off" },
				  { "color": "#ffffff" }
				]
				},{
				"featureType": "poi",
				"stylers": [
				  { "visibility": "off" }
				]
				},{
				"featureType": "road",
				"stylers": [
				  { "visibility": "off" }
				]
				},{
				"featureType": "transit",
				"stylers": [
				  { "visibility": "off" }
				]
				},{
				"featureType": "water",
				"stylers": [
				  { "color": "#0000ff" }
				]
				},{
				"featureType": "landscape.natural.landcover",
				"stylers": [
				  { "visibility": "on" },
				  { "color": "#ffffff" }
				]
				},{
				"featureType": "landscape.natural.terrain",
				"stylers": [
				  { "visibility": "off" },
				  { "color": "#ffffff" }
				]
				}
			];
		
			/*var mapOptions = {
				zoom: 0,
				center: fitmap,
					mapTypeControlOptions: {
					mapTypeIds: [google.maps.MapTypeId.ROADMAP, MY_MAPTYPE_ID]
				},
				draggable: true,
				scrollwheel: true,
				disableDoubleClickZoom: true,
				disableDefaultUI: true,
				mapTypeId: MY_MAPTYPE_ID
			};*/ //Options 1
			
			var mapOptions = {
				zoom: 1,
				center: fitmap,
					mapTypeControlOptions: {
					mapTypeIds: [google.maps.MapTypeId.ROADMAP, MY_MAPTYPE_ID]
				},
				draggable: true,
				scrollwheel: true,
				disableDoubleClickZoom: false,
				disableDefaultUI: false,
				mapTypeId: MY_MAPTYPE_ID
			};
			map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
			
			var styledMapOptions = {
				name: 'Custom Style'
			};
			
			/* Pin Style*/
			
			var redCircle = new google.maps.MarkerImage("assets/circle.png", null, null, null, new google.maps.Size(10,10));
			
			var customMapType = new google.maps.StyledMapType(featureOpts, styledMapOptions);
			
			map.mapTypes.set(MY_MAPTYPE_ID, customMapType);
			
			//console.log($.browser.msie);
	   		<% @media_items.each_with_index do |media_item,index|%>
	
				var marker_<%=index%> = new google.maps.Marker({
						         map:map,
						         draggable:false,
						         //animation: google.maps.Animation.DROP,
						         position: new google.maps.LatLng("<%=media_item.location.latitude%>","<%=media_item.location.longitude%>"),
						         icon: redCircle
						      });
						
				markers.push(marker_<%=index%>);
				
				var infowindow_<%=index%> = new google.maps.InfoWindow({
								      content: "<a href='<%=media_item.link%>' target='_blank'><img src='<%=media_item.images.thumbnail.url%>'></a>"
								   });

								  google.maps.event.addListener(marker_<%=index%>, "click", function() {
								  	  infowindow_<%=index%>.open(map,marker_<%=index%>);
								  });
			<%end%>
	 }

		/* Scale Images*/
		
		var wz = $('ul.results li').width();
		$('ul.results li').css({'height':wz});
		
		$(window).resize(function() {
			var wz = $('ul.results li').width();
			$('ul.results li').css({'height':wz});
		});
		
		
		

	</script>

	<%end%>
	
	
	<div class="sticky<%=@media_items.empty? ? " sticky_initial" : ""%>">
		
		<!-- Logo -->
		<div class="title_block<%=@media_items.empty? ? " title_initial" : ""%>"></div>
		
		<!-- Map -->
		<div class="map_block<%=@media_items.empty? ? " map_initial" : ""%>">
			<div id="map-canvas">
				<div class="map-text">Loading...</div>
			</div>
		</div>
		
		<%if session[:access_token] %>
		<%= form_tag("/", method: "post", id: "tag_form", :class => "input_block#{@media_items.empty? ? ' input_initial' : ''}") do %>
		  
		  	<%= text_field_tag(:tag, (flash[:error].nil? ? params[:tag] : flash[:error]),:class => "hashtag", :id => "hash_input",:autocomplete=>"off") %>
		  	<%= submit_tag("Explore", :class => "submit") %>
		 
		  <p class="text_initial<%=@media_items.empty? ? '' : ' inactive'%>">Use this tool to seek global inspiration <br /> for your creative process. <br /> 
				See what inspires people in their homes <br /> around the world in real time</p>
		<% end %>
		
	  <%else%>
		<%= link_to( "Connect",connect_url ,:class => "submit-connect")%>
	  <%end%>
		
		
	
					
	</div>
	
	<!-- Instagram Feed -->
	<ul class="results">
	
		<div class="loader inactive"></div>
		<div class="loader-text inactive">Loading...</div>

		<% @media_items.each_with_index do |media_item,index|%>
		<%if media_item.link%>
		<a href="<%=media_item.link%>" target="_blank" class="result">
		<%end%>
		<li id="marker_<%=index%>" style="background-image: url('<%=media_item.images.standard_resolution.url%>')" class="result"></li>
		<%if media_item.link%>
		</a>
		<%end%>
		<%end%>
	</ul>
	<div class="spacer"></div>